# Prueba - Fundamentos Data Science
---
Martes 19 de mayo de 2020, Santiago de Chile

### Sakura SPA
**Miembros de la Célula:** 

Susana Arce

Fabiola Aravena

Rodrigo Pereira

--- 

**Administrador de Contrato:** Gonzalo Seguel

**Sponsor:** Andrea Villaroel

---  

#### Objetivo:
Nuestro sponsor posee un cátalogo de contenido audiovisual de 12.294 títulos de Anime, requiere poder efecturar recomendaciones de qué ver a los usuarios en base a otros Anime han sido de su gusto.

#### Propuesta:
Aplicación web en donde el usuario seleccione de una lista de Anime propuestos los que han sido de su gusto, y en base a ello se le entregue una lista de otras alternativas que sean a fin con sus preferencias.

---
## Recomendador de Películas

El presente código procesa el resultado de modelamiento, entregado en formato .csv
y genera una lista de animes sugeridos.

Finalmente se incluye un prototipo de algoritmo que se implementará en la plataforma web.

In [450]:
# Importación de librerías para procesamiento de datos.
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

import re
import random as random

import requests
from ipywidgets import Image

import warnings
warnings.filterwarnings(action="ignore")

In [489]:
subgenre = ["Action","Adventure","Cars","Comedy","Dementia","Demons","Drama","Ecchi","Fantasy","Game","Harem","Hentai","Historical","Horror","Josei","Kids","Magic","MartialArts","Mecha","Military","Music","Mystery","Parody","Police","Psychological","Romance","Samurai",
"School","Sci-Fi","Seinen","Shoujo","ShoujoAi","Shounen","ShounenAi","SliceofLife","Space","Sports","Supernatural","SuperPower","Thriller","Vampire","Yaoi","Yuri"]

### Recogida de datos

In [232]:
#Importamos los data sets para su uso
# Los archivos pueden ser descargados desde:
# https://drive.google.com/open?id=1TlhsxxaTENAO6xIw-EvvZhRAuJaJtPFB

df_titulos_VF = pd.read_csv("titulos_generos_VF20200519.csv", sep=";") 
df_interacciones = pd.read_csv("interacciones_generos_VF.csv", sep=";") 
vs_afinidad_generos = pd.read_csv('vs_afinidad_generos_VF.csv',sep=';')
vs_generos_max = pd.read_csv('vs_afin_maxgen_VF.csv',sep=';')

In [3]:
df_titulos_VF.shape

(7492, 53)

In [116]:
df_titulos_VF.sort_values(["rating","log_members"],ascending=False,inplace=True)
df_titulos_VF.head()

,Unnamed: 0,anime_id,url,name,genre,type,episodes,rating,members,log_members,...,ShounenAi,SliceofLife,Space,Sports,Supernatural,SuperPower,Thriller,Vampire,Yaoi,Yuri
4689,4689,32935,https://imdb-api.com/images/original/MV5BNzQ1M...,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10.0,9.15,93351,11.444122,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
0,0,820,NaN,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110.0,9.11,80679,11.298234,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4690,4690,28851,https://imdb-api.com/images/original/MV5BZGRkO...,Koe no Katachi,"Drama, School, Shounen",Movie,1.0,9.05,102733,11.539889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3672,3672,26259,NaN,Mienu Me ni Kanjita Kumotoriyama no Asahi,"Drama, Kids",OVA,1.0,9.00,47,3.850148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4691,4691,28957,https://imdb-api.com/images/original/MV5BMjM5N...,Mushishi Zoku Shou: Suzu no Shizuku,"Adventure, Fantasy, Historical, Mystery, Seine...",Movie,1.0,8.75,32266,10.381769,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [4]:
df_interacciones.shape

(775258, 57)

In [5]:
vs_afinidad_generos.shape

(48303, 44)

In [6]:
vs_generos_max.shape

(48303, 51)

***
Estos data sets fueron procesados anteriormente en la fase procesamiento, para ser traspasados a modelamiento. Ahora se utilizarán para la predicción final.
***

In [56]:
# Importamos la predicción apriori

predic_apriori = pd.read_csv("apriori_generos_000050012.csv", sep=";",
                            header=None,
                             names=["id1","id2","support","confidence","lift"])

In [57]:
predic_apriori.head()

,id1,id2,support,confidence,lift
0,"('Action',)","('Adventure',)",0.030660,0.172604,2.019414
1,"('Action',)","('AdventureComedy',)",0.023173,0.130457,2.143079
2,"('AdventureComedyEcchi',)","('Action',)",0.001159,0.684211,3.851903
3,"('AdventureComedyGame',)","('Action',)",0.000802,1.000000,5.629704
4,"('AdventureComedyMystery',)","('Action',)",0.000535,0.857143,4.825461

### Procesamiento del resultado de predicción para utilizarlo

In [58]:
predic_apriori.sort_values(["confidence","support"],ascending=False,inplace=True)
predic_apriori.head()

,id1,id2,support,confidence,lift
348,"('HaremMusic',)","('Shoujo',)",0.002496,1.0,20.000000
1278,"('HaremMusic',)","('Shoujo', 'nan')",0.002496,1.0,20.000000
232,"('DementiaPsychological',)","('Romance',)",0.001961,1.0,12.169197
1076,"('DementiaPsychological',)","('Romance', 'nan')",0.001961,1.0,12.169197
219,"('ComedyRomanceSchoolSeinen',)","('SliceofLife',)",0.001783,1.0,19.411765

In [182]:
def limpieza_id1(fila):
    id1 = fila["id1"]
    id1 = id1.replace("'nan'","")
    id1 = id1.replace("(","").replace(")","").replace(",","").replace("'","").replace(" ","")

    id1 = id1.replace("MartialArts","Tmp1")
    id1 = id1.replace("Sci-Fi","Tmp2")
    id1 = id1.replace("ShoujoAi","Tmp3")
    id1 = id1.replace("ShounenAi","Tmp4")
    id1 = id1.replace("SliceofLife","Tmp5")
    id1 = id1.replace("SuperPower","Tmp6")
    
    
    id1 = re.findall('[A-Z][^A-Z]*',id1) 
    
    if len(id1)==1:
        id1_final = id1[0]
        id1_final = id1_final.replace("Tmp1","MartialArts")
        id1_final = id1_final.replace("Tmp2","Sci-Fi")
        id1_final = id1_final.replace("Tmp3","ShoujoAi")
        id1_final = id1_final.replace("Tmp4","ShounenAi")
        id1_final = id1_final.replace("Tmp5","SliceofLife")
        id1_final = id1_final.replace("Tmp6","SuperPower")
        
    else:
        id1_final = None
      
    return id1_final



def limpieza_id2(fila):
    id2 = fila.id2
    id2 = id2.replace("'nan'","")
    id2 = id2.replace("(","").replace(")","").replace(",","").replace("'","").replace(" ","")

    
    id2 = id2.replace("MartialArts","Tmp1")
    id2 = id2.replace("Sci-Fi","Tmp2")
    id2 = id2.replace("ShoujoAi","Tmp3")
    id2 = id2.replace("ShounenAi","Tmp4")
    id2 = id2.replace("SliceofLife","Tmp5")   
    id2 = id2.replace("SuperPower","Tmp6")
    
    id2 = re.findall('[A-Z][^A-Z]*',id2)
    
    id2_final=[]
    
    for k in id2[0:3]:
        k = k.replace("Tmp1","MartialArts")
        k = k.replace("Tmp2","Sci-Fi")
        k = k.replace("Tmp3","ShoujoAi")
        k = k.replace("Tmp4","ShounenAi")
        k = k.replace("Tmp5","SliceofLife")
        k = k.replace("Tmp6","SuperPower")
        id2_final.append(k)
    
    
    return id2_final


predic_apriori["id1pro"] = predic_apriori.apply((limpieza_id1), axis=1)
predic_apriori["id2pro"] = predic_apriori.apply((limpieza_id2), axis=1)

In [183]:
predic_apriori.head()

,id1,id2,support,confidence,lift,id1pro,id2pro
348,"('HaremMusic',)","('Shoujo',)",0.002496,1.0,20.000000,None,[Shoujo]
1278,"('HaremMusic',)","('Shoujo', 'nan')",0.002496,1.0,20.000000,None,[Shoujo]
232,"('DementiaPsychological',)","('Romance',)",0.001961,1.0,12.169197,None,[Romance]
1076,"('DementiaPsychological',)","('Romance', 'nan')",0.001961,1.0,12.169197,None,[Romance]
219,"('ComedyRomanceSchoolSeinen',)","('SliceofLife',)",0.001783,1.0,19.411765,None,[SliceofLife]

***
Se obtienen 2 columnas nuevas procesadas que relacionan directamente el genero sugerido por el modelamiento con algún genero existente, el cual se utilizará para hacer el match con el género más afin de cada usuario
***

### Selección de usuario

Vamos a generar el supuesto flujo del usuario en la plataforma, considerando las posibilidades de que sea un usuario nuevo o un usuario registrado

In [313]:
t_user = random.choice(["N","E"]) # N: Usuario Nuevo E: Usuario Existente

In [329]:
# Simular de Ingreso al sitio

if t_user is "N":
    seleccion = random.sample(df_interacciones["anime_id"].tolist(),10) #simula la seleccion del usuario nuevo
elif t_user is "E":
    usuario = random.sample(df_interacciones["user_id"].tolist(),1)[0] #simula el ingreso del user_id

### Búsqueda del género afin
Determinamos el género o los géneros más afin para los usuarios nuevos o registrados

In [363]:
def max_genre_nuevo(seleccion):
# Determina el género de máxima afinidad con el usuario a partir del 
#indicador de afinidad construído y aplicado a su selección de títulos entregada    
    
    data_new_user = pd.merge(left = pd.DataFrame({"anime_id":seleccion}),left_on="anime_id",
                             right = df_titulos_VF , right_on ="anime_id")
    data_new_user["user_id"] = "N001" #Para posteriormente construir una base de las interacciones de usuarios no registrados
    tmp = pd.pivot_table(data_new_user,values=subgenre,index=["user_id"],aggfunc=sum).fillna(0)
    tmp1= np.argmax(tmp.iloc[0])
    max1=[]
    max1.append(tmp1)
    return max1    
    
def max_genres(usuario):
# Determina el género de máxima afinidad con el usuario a partir del 
#indicador de afinidad construído y aplicado a su registro historico
    max1 = vs_generos_max[vs_generos_max["user_id"] == usuario].loc[:,"Maximos"].tolist()[0]
    max1 = max1.replace("[","").replace("]","").replace("'","").replace(" ","").split(",")
    return max1

#### Se realiza el cruce de la predicción y luego con los animes a recomendar.

In [354]:
def recomendar_genres(max1):
# Obtiene el o los géneros entregados como predicción por el algoritmo aprioro
    rec_genre = []
    for i in max1:
        for k in predic_apriori[predic_apriori["id1pro"]==i].loc[:,"id2pro"].tolist()[0]:
            rec_genre.append(k)
    return rec_genre

def recomendar_anime(rec_genre):
# A partir de la predicción de género, se selecciona la lista de películas a sugerir.

    animes_rec = []
    for i in rec_genre:
        #tmp = df_titulos_VF[df_titulos_VF[i]==1].loc[:,"anime_id"] #Exponemos método alternativo para asegurar visualización de imagenes.
        tmp = df_titulos_VF[~df_titulos_VF["url"].isnull()][df_titulos_VF[i]==1].loc[:,"anime_id"]
        for j in tmp:
            animes_rec.append(j)
    return animes_rec

def filtrar_anime(animes_rec,usuario): 
# Sólo aplica a usuarios existentes, para no recomendar películas ya vistas.
    animes_rec_vf = animes_rec
    animes_visto = df_interacciones[df_interacciones["user_id"]==usuario]["anime_id"]
    for i in animes_visto:
        try:
            animes_rec.remove(i)
        except ValueError:
            pass
    return animes_rec_vf

#### Se realiza un simulador de la función de producción, que actua de setup general para operar en las funciones anteriormente definidas

In [470]:
def produccion(t_user,
               usuario=None,
               seleccion=None):
    print("--------------------------------------------------------------------------")
    if t_user is "N":
        max1 = max_genre_nuevo(seleccion)
        print("Hola nuevo usuario, bienvenido a nuestro recomendador de animes")
        print("Gracias por indicarnos tus títulos de referencia para iniciar la búsqueda")
    if t_user is "E":
        max1 = max_genres(usuario)
        print("Hola otra vez!") 
        text ="¿Cómo estas usuario "+str(usuario)+" ?"
        print(text)
    
    text = "Te gusta el "+max1[0]+", porque no pruebas nuestras sugerencias!"
    print(text)
    
    rec1 = recomendar_genres(max1)
    reco = recomendar_anime(rec1)

    if t_user is "N":
        VF = reco
    if t_user is "E":
        VF= filtrar_anime(reco,usuario)
    print("\n")
    print("\n")

    for n,i in enumerate(VF[0:10]):
        anime_recomendado = df_titulos_VF[df_titulos_VF["anime_id"]==i]
        titulo = anime_recomendado.loc[:,"name"].tolist()[0]
        formato = anime_recomendado.loc[:,"type"].tolist()[0]
        rating = anime_recomendado.loc[:,"rating"].tolist()[0]
        poster = anime_recomendado.loc[:,"url"].tolist()[0]
        print("Sugerencia " + str(n+1))
        print(titulo)
        print("Es una excelente "+ formato +" evaluada con un "+ str(rating))
        if n ==0:
            imagen = Image(value=requests.get(poster).content) 
        print(poster)
        print("\n")
    print("--------------------------------------------------------------------------")
    return imagen

### Prototipo para presentación

Genera en primera instancia de forma aleatoria las posibilidades de usuarios nuevos o usuario existente.
Además genera una lista de títulos seleccionados para simular el ingreso que debería realizar un nuevo usuario

In [493]:
t_user = random.choice(["N","E"]) # N: Usuario Nuevo E: Usuario Existente
usuario = random.sample(df_interacciones["user_id"].tolist(),1)[0],
seleccion = random.sample(df_interacciones["anime_id"].tolist(),10)

In [494]:
produccion(t_user,usuario,seleccion)

--------------------------------------------------------------------------
Hola otra vez!
¿Cómo estas usuario (39066,) ?
Te gusta el Adventure, porque no pruebas nuestras sugerencias!




Sugerencia 1
Vampire Hunter
Es una excelente OVA evaluada con un 6.83
https://imdb-api.com/images/original/MV5BZjhkZTRlNTQtNTVkMy00NTgxLTk5N2EtMzZlODczZWE2ZTNhL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMzM4MjM0Nzg@._V1_Ratio0.8182_AL_.jpg


Sugerencia 2
Jie Mo Ren
Es una excelente ONA evaluada con un 6.65
https://imdb-api.com/images/original/nopicture.jpg


Sugerencia 3
Final Fantasy
Es una excelente OVA evaluada con un 6.25
https://imdb-api.com/images/original/nopicture.jpg


Sugerencia 4
Happy World!
Es una excelente OVA evaluada con un 6.11
https://imdb-api.com/images/original/MV5BY2E3MTNmNDctYTdmNi00NDY4LWE4NTctMmU1ZjQ5ZTczNDk1XkEyXkFqcGdeQXVyMTA2NDI0NDM0._V1_Ratio0.7273_AL_.jpg


Sugerencia 5
DragonBlade
Es una excelente Movie evaluada con un 5.95
https://imdb-api.com/images/original/MV5BYTQxZjA1YzktN2JiZS00OTdiLThlMmYtNTAyMTg3OWNhYzhiXkEyXkFqcGdeQXVyODE0OTY5MDg@._V1_Ratio0.7273_AL_.jpg


Sugerencia 6
Garo: Guren no Tsuki
Es una excelente TV evaluada con un 5.96
https://imdb-api.com/images/original/MV5BNTRmYjFiNTMtMjdhMC00ZmI0LTgyNTQtNTJlN2E5MmZhODc3XkEyXkFqcGdeQXVyNDQxNjIwNTI@._V1_Ratio0.7273_AL_.jpg


Sugerencia 7
GO-GO Tamagotchi!
Es una excelente TV evaluada con un 7.17
https://imdb-api.com/images/original/MV5BYTRmYmQxNjQtZTE2MS00NTUxLTgxNWItNDZjOWQyYzFjYmNiXkEyXkFqcGdeQXVyNzkwODIyMzc@._V1_Ratio0.7273_AL_.jpg


Sugerencia 8
Hyoutan Suzume
Es una excelente Movie evaluada con un 5.0
https://imdb-api.com/images/original/nopicture.jpg


Sugerencia 9
Jim Button
Es una excelente TV evaluada con un 6.1
https://imdb-api.com/images/original/nopicture.jpg


Sugerencia 10
Kanimanji Engi
Es una excelente Movie evaluada con un 4.79
https://imdb-api.com/images/original/nopicture.jpg


--------------------------------------------------------------------------

Image(value=b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00C\x00\x02\x01\x0…